<?xml version="1.0" encoding="UTF-8" ?>
<phpunit colors="true" bootstrap="./vendor/autoload.php">
    <php>
        <ini name="display_errors" value="stderr"/>
        <ini name="error_log" value="/dev/null"/>
    </php>
    <testsuite name="Unit Tests">
        <directory suffix='.php'>tests/</directory>
    </testsuite>
</phpunit>